<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px">
                <mat-error class="alert alert-primary">Update Avatar Success!</mat-error><br><br><br>
                <button (click)="reload()" mat-stroked-button color="accent" class="mat-button-toggle-group btn-outline-primary">OK CON DE!
                    <mat-icon color="accent" matSuffix>login</mat-icon>
                </button>
            </mat-card>
        </div>
    </div>
</div>
