<nav class="docs-navbar-header" aria-label="Top Toolbar">

  <a mat-button class="docs-button" routerLink="/" aria-label="Angular Material">
    <img class="docs-angular-logo" src="https://raw.githubusercontent.com/vmudigal/ngx-audio-player/master/src/assets/images/logos/angular/angular-white-transparent.svg"
      alt="">
    <span>Audio Player</span>
  </a>
  <a *ngIf="!checkLogin" mat-button class="docs-button" routerLink="register" aria-label="Angular Material">
<!--    <img class="docs-angular-logo" src="https://raw.githubusercontent.com/vmudigal/ngx-audio-player/master/src/assets/images/logos/angular/angular-white-transparent.svg"-->
<!--         alt="">-->
    <span>Register</span>
    <mat-icon color="accent" matPrefix>groupaddsharp</mat-icon>
  </a>
  <a  *ngIf="!checkLogin" mat-button class="docs-button" routerLink="login" aria-label="Angular Material">
    <!--    <img class="docs-angular-logo" src="https://raw.githubusercontent.com/vmudigal/ngx-audio-player/master/src/assets/images/logos/angular/angular-white-transparent.svg"-->
    <!--         alt="">-->
    <span>Login</span>
    <mat-icon color="accent" matPrefix>login</mat-icon>
  </a>
  <a  *ngIf="checkLogin" mat-button class="docs-button" routerLink="profile" aria-label="Angular Material">
    <!--    <img class="docs-angular-logo" src="https://raw.githubusercontent.com/vmudigal/ngx-audio-player/master/src/assets/images/logos/angular/angular-white-transparent.svg"-->
    <!--         alt="">-->
    <span>{{name}}</span>
    <mat-icon color="accent" matPrefix>add_reaction</mat-icon>
  </a>
  <div class="flex-spacer"></div>
  <img routerLink="profile/update/avatar" *ngIf="checkLogin" style="width: 50px; height: 50px; border-radius: 50%" src="{{avatar}}" alt="">
  <app-theme-picker></app-theme-picker>
  <a  mat-button class="docs-button" href="https://www.youtube.com/playlist?list=PLDXo4FUSUftcvlqfmurIe2pHnTr6vuPta" aria-label="Angular Material" target="_blank">
    <!--    <img class="docs-angular-logo" src="https://raw.githubusercontent.com/vmudigal/ngx-audio-player/master/src/assets/images/logos/angular/angular-white-transparent.svg"-->
    <!--         alt="">-->
    <span>Youtube</span>
    <mat-icon color="accent" matPrefix>subscriptions</mat-icon>
  </a>
  <a mat-button class="docs-button docs-navbar-hide-small" target="_blank" href="https://github.com/nguyendongminhtri/MD5-JAV06-FE-GOC.git"
    aria-label="GitHub Repository">
    <img class="docs-angular-logo" src="https://raw.githubusercontent.com/vmudigal/ngx-audio-player/master/src/assets/images/logos/angular/github-circle-white-transparent.svg"
      alt="">
    FrontEnd
  </a>
  <a mat-button class="docs-button docs-navbar-hide-small" target="_blank" href="https://github.com/nguyendongminhtri/MD5-JAV06-Test"
     aria-label="GitHub Repository">
    <img class="docs-angular-logo" src="https://raw.githubusercontent.com/vmudigal/ngx-audio-player/master/src/assets/images/logos/angular/github-circle-white-transparent.svg"
         alt="">
    BackEnd
  </a>
  <a mat-icon-button class="docs-button docs-navbar-show-small" href="https://github.com/nguyendongminhtri/MD5-JAV06-FE-GOC.git"
    aria-label="GitHub Repository">
    <img class="docs-angular-logo" src="https://raw.githubusercontent.com/vmudigal/ngx-audio-player/master/src/assets/images/logos/angular/github-circle-white-transparent.svg"
      alt="">
  </a>
</nav>
