<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px">
                <h1>Welcome Profile</h1>
                <button (click)="logOut()" mat-stroked-button color="primary" class="mat-button-toggle-group btn-outline-danger">Logout
                    <mat-icon color="primary" matSuffix >logout</mat-icon>
                </button>
                <button *ngIf="checkAdmin" routerLink="admin" mat-stroked-button color="primary" class="mat-button-toggle-group btn-outline-danger">Admin Manage
                    <mat-icon color="primary" matSuffix >manage_accounts</mat-icon>
                </button>
                <router-outlet></router-outlet>
            </mat-card>
        </div>
    </div>
</div>
